table {
    width : 100%;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 17px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #b3b2b2;
    padding: 12px 15px;
    text-align: center;
}

th {
    background-color: #028476;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #d7f2e3;
    transition: background-color 0.1s ease;
}

td {
    color: #333333;
    font-weight: 400;
}
